/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, section, article, h1, h2, p, strong, em, a, button, input {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

/*input .username {

}*/

button {
  border-style: solid;
  border-radius: 5px;
  border: 1px solid black;
  font-family: "Lora", Georgia, Cambria, "Times New Roman", Times, serif;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding-top: 1rem;
  padding-right: 20px;
  padding-bottom: 1.0625rem;
  padding-left: 20px;
  font-size: 24px;
  background-color: #134FE6;
  border-color: #000000;
  color: #FFFFFF;
  transition: background-color 300ms ease-out;
}

input {
  display: block;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  width: calc(100% - 200px);
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: #EFFF00;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 45px;
  font-family: copperplate;
  transition: color 300ms ease-out;
}

a {
  color: blue;
  text-decoration: underline;
}


h1:hover {
  text-shadow: -1px 0 #134FE6, 0 1px #134FE6, 1px 0 #134FE6, 0 -1px #134FE6;
  color: #05ff56;
}
.submit:hover {
  cursor: pointer;
  background-color: #134FE6;
  color: #05ff56;
}

.submit {
  display: block;

  padding: 10px;
  margin-top: 40px;
  background-color: #EFFF00;
  color: #000000;
  width: calc(100% - 67px);
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 24px;
}

}
