/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, nav, body, section, article, ul, li, h1, h2, p, strong, em, a, button, input, img {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
  list-style-type: none;
}

/*input .username {

}*/
body {
  background: #EEEEEE;
  position: relative;;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.4;
  margin: 0;
}
button {
  border-style: solid;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 0 2px 0 black;
  font-family: "Lora", Georgia, Cambria, "Times New Roman", Times, serif;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding-top: 1rem;
  padding-right: 20px;
  padding-bottom: 1.0625rem;
  padding-left: 20px;
  font-size: 24px;
  background-color: #134FE6;
  border-color: #000000;
  color: #FFFFFF;
  transition: background-color 300ms ease-out;
  cursor: pointer;
}

input {
  display: block;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  width: calc(100% - 200px);
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1 {
  color: #EFFF00;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 45px;
  font-family: copperplate;
  transition: color 300ms ease-out;
  margin-top: 0px;
}
h2 {
  color: #EFFF00;
}
a {
  color: blue;
  text-decoration: underline;
}


h1:hover {
  text-shadow: -1px 0 #134FE6, 0 1px #134FE6, 1px 0 #134FE6, 0 -1px #134FE6;
  color: #05ff56;
}
.submit:hover {
  cursor: pointer;
  background-color: #134FE6;
  color: #05ff56;
}

.submit {
  display: block;

  padding: 10px;
  margin-top: 40px;
  background-color: #EFFF00;
  color: #000000;
  width: calc(100% - 22px);
  font-weight: bold;
  font-size: 24px;
}

.alt-signup {
  margin-top: 50px;
  display: block;
}

.alt-signup > button {
  width: 400px;
  float: left;
  margin-top: 0;
}

.alt-signup >  a {
  width: 400px;
  float: right;
  border-style: solid;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 0 2px 0 black;
  margin: 0 0 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  font-family: "Lora", Georgia, Cambria, "Times New Roman", Times, serif;
  line-height: normal;
  transition: background-color 300ms ease-out;
}

.def-panel {
  border-style: solid;
  border-width: 0px;
  border-color: #e3e3e3;
  margin-bottom: 1.25rem;
  padding: 32px;
  background: #FFFFFF;
  color: #333333;
  box-shadow: 1px 1px 2px #DBDBDB;
  word-wrap: break-word;
  width: 556px;
}
.term-image {
  position: relative;
}

.term-image > img{
  height: auto;
  width: 300px;
}
.group:after {
  content: "";
  display: block;
  clear: both;
}
.column {

}
.content {
display: block;
margin-left: auto;
margin-right: auto;
width: 960px;
vertical-align: top;
padding-top: 20px;
padding-bottom: 10px;
}

.index-terms {
  width: 620px;
  float: left;
}

.errors {
  background: red;
  font-weight: bold;
}

.panel {
  background: white;
  position: relative;
  display: block;
  padding: 20px;
  font-size: 20px;
  float: right;
  color: #134FE6;
  word-wrap: break-word;
  height: 100%;
  width: 280px;
  margin-left: 20px;
}

.panel > p {
  padding-top: 125px;
}
.gif {
  width: 130px;
  height: 130px;
  border-radius: 130%;
  border: 1px solid black;
  position: absolute;
  /*float: right;*/
  top: 20px;
  right: 20px;
  z-index: 2;
}

.slogan-box {
  float: left;
  z-index: 3;
  position: relative;
}

.slogan-box > div {
  background: #EFFF00;
  color: black;
  font-size:  26px;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: 900;
  display: inline-block;
  line-height: 26px;
  margin-bottom: 2px;
  margin-right: 20px;

;


}
.term-name {
  color: #134FE6;
  font-family: "Lora", Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 2rem;
  font-weight: bold;
  line-height: 129%;
  text-decoration: none;
  vertical-align: middle;
}
.term-author {
  margin-left: 3px;
  margin-right: 3px;
}

.definition {
  margin-top: 16px;
  margin-bottom: 16px;
  color: #2C353C;
}

.sentence {
    font-style: italic;
    margin-top: 16px;
    margin-bottom: 16px;
}

.button-bar {
  position: relative;
}
.term-change {
  left: 20px;
  float: right;
  border-radius: 20px;
  font-size: 14px;
  margin-bottom: 0px;
  margin-left: 16px;
  background-color: #EFFF00;
  color: black;
  font-family: "Lora", Georgia, Cambria, "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;

}
.term-change:hover {
  cursor: pointer;
  background-color: #134FE6;
  color: #05ff56;
}
.date-head {
font-weight: bold;
font-size: 0.8125rem;
display: inline-block;
text-transform: uppercase;
background-color: #EFFF00;
}

.contributor {
  font-weight: bold;
  word-wrap: break-word;
}

.logout {
  width: auto;
  margin: 20px 0px;
  font-size: 14px;
  border-radius: 20%;
  float: right;
  padding-top: 20px;
}

.logout:hover {
  color: #05ff56;
}
h3 {
  border-bottom: 1px solid #134FE6;
  color: #134FE6;

}

.heading {
  float:left;
  width: auto;
  line-height: 88px;
  color: #134FE6;
}
.login {
  text-align: center;
}
.modal {
  display: none;
  top: 0;
}

.modal-is-active {
  position: relative;
  display: block;
}

.modal-screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  z-index: 999;
  padding: 15px;
  background-color: rgba(19, 79, 230, 0.8);
  visibility: 0.7;

}

.close-modal {
  position: absolute;
  border-radius: 50%;
  border: 2px solid #EFFF00;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 45px;
  color: #FFFFFF;
  right: 50px;
  top: 20px;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
  font-size: 30px;
  text-decoration: none;
}


.modal-content {
  z-index: 1000;
  left: 100px;
  top: 100px;
  max-width: 800px;
  padding: 30px;
  background: white;
  margin: auto;

}

.modal-title {
  border-bottom-color: #EFFF00;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  color: white;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 42px;
  text-align: center;
  padding-bottom: 3px;
}
.modal-header {
  margin-bottom: 40px;
  text-align: center;

}

.input-box {
  background: #EEEEEE;
  border-radius: 0;
  padding: 20px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 16px;
  width: 740px;
  border: none;
}

.term-name {
  height: 80px;

}

.term-definition {
  height: 130px;
  font-size: 16px;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
}
.term-sentence {
  height: 90px;
  width: 740px;
  font-size: 16px;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
}

.help-block {
  width: 740px;
  padding-bottom: 16px;
}

.disclaimer {
  color: gray;
  font-size: 16;
  font-style: italic;
  line-height: 22px;
  text-align: center;
}

.preview > img {
  height: 150px;
  width: auto;
  margin: auto;
}
.suburban-top-bar {
  background-color: #0E1F36;
  position: relative;
  display: block;
  padding-left: 10px;
  padding-right: 10px;
}
.search-bar {
  display: block;
  position: relative;
  float: left;
  /*margin-bottom: 9.6px;*/
  width: 730px;
  padding-left: 15px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  height: 34px;
  border-radius: 2px;

}

.top-bar {
  display: block;
  margin-bottom: 8px;
  padding-top: 10px;
}
.bottom-bar {
  display: block;
}
nav {
  margin-left: auto;
  margin-right: auto;
  width: 960px;
}
.header-logo{
  width: 200px;
  background: white;
}
.logo {
  float: left;
  color: white;
  background: white;
}
.logo > img {
  height: 50px;
  width: 100%;
}
.logo:hover {
  cursor: pointer;
  background: #EFFF00
}
.main-nav {
  float: left;
  margin: auto;
  line-height: 50px;
}
.main-nav > li {
  float: left;
  color: white;
  padding-left: 16.5px;
  padding-right: 16.5px;
}
.main-nav > li:hover {
  cursor: pointer;
  color: #EFFF00;
}

.nav-buttons {
  float: right;
  color: white;
}

.nav-buttons > button {
  border-radius: 50%;
  background-size: auto;
  margin-bottom: 12.5px;
  margin-left: 10px;
  padding-top: 13px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
}
.nav-buttons > button:nth-child(2){
  padding-left: 14px;
  padding-right: 14px;
}

.nav-buttons > button:hover {
  color: #05ff56;
}
.search-result{
  position: absolute;
  top: 130px;
  color: #1769ac;
  background: white;
  height: auto;
  width: 755px;
  border-style: solid;
  border-width: 0px;
  border-color: #e3e3e3;
  box-shadow: 1px 1px 2px #DBDBDB;
  z-index: 4;
  /*display: none;*/
}
.search-bar:focus ul{
  background: red;
  display: block;
  content: none;
}
.search-result > li{
  display: hidden;
  padding: 8px;
  padding-left: 15px;
}
.search-result-item:hover {
  font-weight: bold;
  background: #05ff56;
}
.search-result:focus {

}

.collection-panel {
  background: white;
  width: 580px;
  padding: 20px;
}

.collection-panel > a {
  width: 182px;
  text-align: left;
  display: inline-block;;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  margin-bottom: 10px;
}

.collection-panel > p {
  width: 172px;
  display: block;
  margin-bottom: 10px;

}
.browse{
  position: relative;
  color: white;
  font-size: 13px;
  margin-left: 20px;
  font-weight: bold;
}
.alphabet-list {
  display: none;
  position: absolute;
  top: 50px;
  width: 300px;
  border: 1px solid black;
  background: white;
  z-index: 3;
  box-shadow: rgb(0, 0, 0) 0px 2px 0px 0px;
  border-radius: 5px;
;
}

.alphabet-list > a{
  height: 40px;
  width: 40px;
  background: #F1F1F1;
  border-radius: 50%;
  display: inline-block;
  text-decoration: none;
  margin: 9px;
  text-align: center;
  line-height: 40px;
}

.alphabet-list > a:hover {
  color: black;
  background: #EFFF00;
}
.browse:hover .alphabet-list {
  display: block;
}
.browse:hover {
  color: #EFFF00;
}
