/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, section, article, h1, h2, p, strong, em, a, button, input, {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  box-sizing: inherit;
  font: inherit;
  text-decoration: inherit;
  text-align: inherit;
  color: inherit;
  background: transparent;
}

/*input .username {

}*/
body {
  background: #EEEEEE;
  position: relative;;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.4;
}
button {
  border-style: solid;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 0 2px 0 black;
  font-family: "Lora", Georgia, Cambria, "Times New Roman", Times, serif;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding-top: 1rem;
  padding-right: 20px;
  padding-bottom: 1.0625rem;
  padding-left: 20px;
  font-size: 24px;
  background-color: #134FE6;
  border-color: #000000;
  color: #FFFFFF;
  transition: background-color 300ms ease-out;
}

input {
  display: block;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  width: calc(100% - 200px);
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: #EFFF00;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 45px;
  font-family: copperplate;
  transition: color 300ms ease-out;
  margin-top: 0px;
}
h2 {
  color: #EFFF00;
}
a {
  color: blue;
  text-decoration: underline;
}


h1:hover {
  text-shadow: -1px 0 #134FE6, 0 1px #134FE6, 1px 0 #134FE6, 0 -1px #134FE6;
  color: #05ff56;
}
.submit:hover {
  cursor: pointer;
  background-color: #134FE6;
  color: #05ff56;
}

.submit {
  display: block;

  padding: 10px;
  margin-top: 40px;
  background-color: #EFFF00;
  color: #000000;
  width: calc(100% - 67px);
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  font-size: 24px;
}

.def-panel {
  border-style: solid;
  border-width: 0px;
  border-color: #e3e3e3;
  margin-bottom: 1.25rem;
  padding: 32px;
  background: #FFFFFF;
  color: #333333;
  box-shadow: 1px 1px 2px #DBDBDB;
  word-wrap: break-word;
}
.group:after {
  content: "";
  display: block;
  clear: both;
}
.content {
vertical-align: top;
padding-top: 0;
padding-bottom: 10px;
width: 680px;
}

.term-name {
  color: #134FE6;
  font-family: "Lora", Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 2rem;
  font-weight: bold;
  line-height: 129%;
  text-decoration: none;
  vertical-align: middle;
  text-decoration: none;
}
.definition {
  margin-top: 16px;
  margin-bottom: 16px;
  color: #2C353C;
}

.sentence {
  font-style: italic;
  margin-top: 16px;
  margin-bottom: 16px;
}

.button-bar {
  position: relative;
}
.term-change {
  /*position: absolute;*/
  left: 20px;
  float: right;
  border-radius: 20px;
  font-size: 14px;
  margin-bottom: 0px;
  margin-left: 16px;
  background-color: #EFFF00;
  color: black;
  font-family: "Lora", Georgia, Cambria, "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;

}
.term-change:hover {
  cursor: pointer;
  background-color: #134FE6;
  color: #05ff56;
}
.date-head {
font-weight: bold;
font-size: 0.8125rem;
display: inline-block;
/*vertical-align: super;*/
background-color: #EFFF00;
}

.contributor {
  font-weight: bold;
  word-wrap: break-word;
}

.suburban-top-bar {
  background-color: #1D2439;
}
.logout {
  width: 150px;
  margin-bottom: 15px;
  margin-left: 10px;
}
